*{
  margin: 0;
  padding: 0;
}
.root{
  width: 100vw;
  height: 222vh;
}

.bighead{
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: white;
}

.head{
  width: 100vw;
  height: 10vh;
  border:1px solid rgb(204, 204, 204);
  display: flex;
  position: fixed;
  background-color: white;
  top:0px;
  bottom:0px;
}

.main{
  width: 100vw;
  height: 212vh;
  display: flex;
}
.bigsidebar{
  width: 5vw;
  height: 212vh;
  background-color: white;

}
.sidebar{
  width: 5vw;
  height: 212vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  position:fixed;
  background-color: white;
}

.basic{
  width: 5vw;
  height: 30vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  font-size: 0.8rem;
}

.basic>div{
  width: 5vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  cursor: pointer;
}
.basic>div>i{
  margin:8px;
}
.side1:hover{
  background-color: #cccc;
}
.side2:hover{
  background-color: #cccc;
}
.side3:hover{
  background-color: #cccc;
}
.side4:hover{
  background-color: #cccc;
}
.side5:hover{
  background-color: #cccc;
}



.maingif{
  width: 95vw;
  height: 212vh;
  background-color: rgba(236, 233, 233, 0.8);

}

.maingif>div{
  width: 95vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoham{
  width: 30vw;
  height: 10vh;
  display: flex;
  align-items: center;
}
.hamlogo{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  border:1px solid rgb(204, 204, 204);
  cursor: pointer;
}

.hamlogo:hover{
  background-color: #ccc;
}

.hambug{
  width: 1.5vw;
  height: 1.5vw;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo>img{
  width: 8vw;
  height: 10vh;
}



.search{
  width: 40vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  width: 25vw;
  height: 4vh;
  font-size: 1.2rem;
  border:1px solid rgb(204, 204, 204);

}

.search>div{
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 3vw;
  border:1px solid rgb(204, 204, 204);
  height: 4.3vh;
}
.btn2{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  border:1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:10px
}


.submenu{
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.submenu>div{
  width: 2vw;
  height: 2vw;
  background-color: #ccc;
  border-radius: 50%;
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.submenu>div:hover{
  background-color: white;
}
