*{
  margin: 0;
  padding: 0;
}
.root{
  width: 100vw;
  height: 222vh;
}

.head{
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
  display: flex;
  position: sticky;
  background-color: #ccc;
  top:0px
}

.main{
  width: 100vw;
  height: 212vh;
  border: 1px solid black;
  display: flex;
}

.sidebar{
  width: 5vw;
  height: 212vh;
  border: 1px solid black;
}

.maingif{
  width: 95vw;
  height: 212vh;
  border: 1px solid black;

}

.maingif>div{
  width: 95vw;
  height: 30vh;
  border: 1px solid black;
  display: flex;
}

.logoham{
  width: 30vw;
  height: 10vh;
  border: 1px solid black;
}

.hambug{
  width: 1.5vw;
  height: 1.5vw;
}



.search{
  width: 40vw;
  height: 10vh;
  border: 1px solid black;

}
.submenu{
  width: 30vw;
  height: 10vh;
  border: 1px solid black;

}
